body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: lightblue;
    font-size: 18px;
    overflow-x: hidden;  
    font-family: sans-serif;                                                                                                                                    
}

header, footer {
    font-family: 'Baloo Tamma';
    font-size: 20px;
}

header {
    display: block;
}

header ul {
    padding-left: 0;
}

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.dib {
    display: inline-block;
}

.header-list {
    list-style: none;
}

.title-big {
    font-size: 60px;
}

.title-small {
    font-size: 20px;
}

.contain {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

footer {
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
}

.header-list > span {
    visibility: none;
}

.icon {
    height: 2em;
    width: 2em;
    padding: .25rem;
}

.smFlex {
    display: block;
}

@media only screen and (min-width: 401px) {
    body { 
        font-size: 20px;
    }

    header, footer { 
        font-size: 22px;
    }

    
}

@media only screen and (min-width: 768px) {
    body { 
        font-size: 26px;
    }

    header, footer { 
        font-size: 30px;
    }
    
    .icon {
        height: 3em;
        width: 3em;
        padding: .5rem;
    }
    .smFlex {
        display: flex;
    }
}

@media only screen and (min-width: 1100px) {
    body { 
        font-size: 30px;
    }

    header, footer { 
        font-size: 32px;
    }
    
    .icon {
        height: 3em;
        width: 3em;
        padding: 1rem;
    }
}

code {
    display: inline-block;
    padding: 5px;

    background: linear-gradient(to right, #e6adda, #caade6, #adb6e6 ,#aeade6, #caade6, #e6adda);
}

