:root {
    --background: lightblue;
    --dark:  black;
    --primary: azure;
    --link-hover-bg: #2D6FE7;
    --home-hover: var(--primary);
    --twitter-hover: rgba(29,161,242,1.00);
    --contact-hover: green;
}
a {
    color: inherit;
}
a:hover, a:focus {
    color: var(--primary);
    background: var(--link-hover-bg);
    outline: none;
}
.title-big:hover,
.title-big:focus {
    color: var(--home-hover);
    background: var(--dark);
}

.footer-nav-icon:focus,
.footer-nav-icon:hover {
    background: var(--dark);
}
.footer-nav-icon.home:focus,
.footer-nav-icon.home:hover {
    color: var(--home-hover);
}
.footer-nav-icon.twitter:focus,
.footer-nav-icon.twiter:hover {
    color: var(--twitter-hover);
}
.footer-nav-icon.contact:focus,
.footer-nav-icon.contact:hover {
    color: var(--contact-hover);
}
.skip-link, 
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: inherit;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: var(--background);
    font-size: 20px;
    overflow-x: hidden;  
    font-family: sans-serif;                                                
}

header, footer {
    font-family: 'Baloo Tamma';
    font-size: 20px;
}

header {
    display: block;
}

header ul {
    padding-left: 0;
}

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}

.dib {
    display: inline-block;
}

.header-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title-big {
    margin-top: 1rem;
    padding: 0.2em 0.2rem 0;
    display: inline-block;
    font-size: 3rem;
    line-height: 1.2;
    text-decoration: none;
    vertical-align: top;
}

.title-small {
    font-size: 20px;
    padding: 0 0.2rem;
}

.contain {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.site-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
}

.footer-nav-icon {
    font-size: 2rem;
    height: 6rem;
    padding: 0 1rem;
    display: inline-flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.footer-nav-icon svg {
    width: 2em;
    fill: currentColor;
    margin-right: 0.8rem;
}
.footer-nav-icon .icon-twitter {
    width: 1.6em;
}

.header-list > span {
    visibility: none;
}

.icon {
    height: 2em;
    width: 2em;
}

svg {
    fill: currentColor;
}
.page-link

.smFlex {
    display: block;
}

@media only screen and (min-width: 401px) {
    body { 
        font-size: 20px;
    }

    header, footer { 
        font-size: 22px;
    }

    
}

@media only screen and (min-width: 768px) {
    body { 
        font-size: 26px;
    }

    header, footer { 
        font-size: 30px;
    }
    
    .icon {
        height: 3em;
        width: 3em;
        padding: .5rem;
    }
    .smFlex {
        display: flex;
    }
}

@media only screen and (min-width: 1100px) {
    body { 
        font-size: 30px;
    }

    header, footer { 
        font-size: 32px;
    }
    
    .icon {
        height: 3em;
        width: 3em;
        padding: 1rem;
    }
}

code {
    display: inline-block;
    padding: 5px;

    background: linear-gradient(to right, #e6adda, #caade6, #adb6e6 ,#aeade6, #caade6, #e6adda);
}

